{% extends 'base.html' %}

{% block body %}

<div class="row">

	<div class="page-header">
		<h1>Excercise
			<a href="#" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal_excercise">
				<span class="glyphicon glyphicon-plus"></span> Log New Data
			</a>
		</h1>
	</div>

</div>

	<div class="row">

		{% include 'modal_excerciselog.html' %}
		<div class="col-md-8">
			<div class="well">
		
			</div>
		</div>
	
		<div class="col-md-4">
			<div class="well">
		
			</div>
		</div>

	</div>

	<div class="row">

		<div class="col-md-6">
	
			<div class="page-header">
				<h4>Cardio</h4>
			</div>
	
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-md-4">Activity</th>
						<th class="col-md-2">Average Pace</th>
						<th class="col-md-2">Miles This Week</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Running</th>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<th>Cycling</th>
						<td>
						{{ avgCycPace }}miles / minute
						</td>
						<td>
						{{ cycDistance }}miles
						</td>
					</tr>
				</tbody>
			</table>
	
		</div>
	
		<div class="col-md-6">
	
			<div class="page-header">
				<h4>Strength</h4>
			</div>
		</div>
	</div>


{% endblock %}
