{% extends 'base.html' %}

{% block body %}

<div class="row">

	<div class="page-header">
		<h1>Food
			<a href="#" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal_food">
				<span class="glyphicon glyphicon-plus"></span> Log New Data
			</a>
		</h1>
	</div>

</div>

<div class="row">
	
	{% if g.user.name != "Guest" %}
	
		{% include 'modal_foodlog.html' %}
		
		{% if g.user.foodlog is defined %}
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th class="col-md-2">Date</th>
						<th class="col-md-2">Calories</th>
						<th class="col-md-2">Protein</th>
						<th class="col-md-2">Fat</th>
						<th class="col-md-3">Notes</th>
						<th class="col-md-1 test-right">Edit</th>
					</tr>
				</thead>
				<tbody>
					{% for log in g.user.foodlog %}
						<tr>
							<td>{{ log.timestamp }}</td>
							<td>{{ log.calories }}</td>
							<td>{{ log.protein }}</td>
							<td>{{ log.fat }}</td>
							<td>{{ log.notes }}</td>
							<td><span class="pull-right glyphicon glyphicon-pencil"></span></td>
						</tr>
					{% endfor %}
				</tbody>
		
		
			</table>
		
		{% else %}
			<p>No food logs have been entered yet!</p>
		{% endif %}
		
	{% else %}
	
		<p>Hey, you're not logged in!</p>
	
	{% endif %}

</div>

{% endblock %}
