{% extends 'base.html' %}

{% block body %}

<div class="row">

	<div class="page-header">
		<h1>Food
			<a href="#" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal_food">
				<span class="glyphicon glyphicon-plus"></span> Log New Data
			</a>
		</h1>
	</div>

</div>

<div class="row">
	
	{% if g.user.name != "Guest" %}
	
		{% include 'modal_foodlog.html' %}
		
		{% if g.user.foodlog is defined %}
		
			<div class="col-lg-12">
				<canvas id="foodChart"></canvas>

			</div>
			<script>
				var ctx = $("#foodChart").get(0).getContext("2d");
				
				// define the data for the chart
				var revCalories = [{% for log in g.user.foodlog %}"{{ log.calories }}",{% endfor %}].reverse()
				var data = {
					labels: [{% for log in g.user.foodlog %}"{{ log.timestamp }}",{% endfor %}].reverse(),
					datasets: [
						{
							label: "Calories",
							data: revCalories,
							fillColor: "rgba(220,220,220,0.2)",
							strokeColor: "rgba(220,220,220,1)",
							pointColor: "rgba(220,220,220,1)",
							pointStrokeColor: "#fff",
							pointHighlightFill: "#fff",
							pointHighlightStroke: "rgba(220,220,220,1)",
						},
					]
				};
				var options = {
					///Boolean - Whether grid lines are shown across the chart
					scaleShowGridLines : true,
				
					//String - Colour of the grid lines
					scaleGridLineColor : "rgba(0,0,0,.05)",
				
					//Number - Width of the grid lines
					scaleGridLineWidth : 1,
					
					scaleFontColor: "rgba(235,235,235)",
					
					//Boolean - Whether the line is curved between points
					bezierCurve : true,
				
					//Number - Tension of the bezier curve between points
					bezierCurveTension : 0.4,
				
					//Boolean - Whether to show a dot for each point
					pointDot : true,
				
					//Number - Radius of each point dot in pixels
					pointDotRadius : 4,
				
					//Number - Pixel width of point dot stroke
					pointDotStrokeWidth : 1,
				
					//Number - amount extra to add to the radius to cater for hit detection outside the drawn point
					pointHitDetectionRadius : 20,
				
					//Boolean - Whether to show a stroke for datasets
					datasetStroke : true,
				
					//Number - Pixel width of dataset stroke
					datasetStrokeWidth : 2,
				
					//Boolean - Whether to fill the dataset with a colour
					datasetFill : true,

					// Boolean - whether or not the chart should be responsive and resize when the browser does.
					responsive: true,
				
					// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
					maintainAspectRatio: false,
				};
				
				//apply width settings
				var theCanvas = $('canvas');
				newWidth = theCanvas.parent().width()
				theCanvas.prop({
					width: newWidth,
					height: 300,
				});
				var foodChart = new Chart(ctx).Line(data, options);
							
			</script>
			<div class="row">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-md-2">Date</th>
							<th class="col-md-2">Calories</th>
							<th class="col-md-1">Protein</th>
							<th class="col-md-1">Fat</th>
							<th class="col-md-1">Carbs</th>
							<th class="col-md-2">Cheat Day</th>
							<th class="col-md-2">Notes</th>
							<th class="col-md-1 text-right">Edit</th>
						</tr>
					</thead>
					<tbody>
						{% for log in g.user.foodlog %}
							<tr>
								<td>{{ log.timestamp }}</td>
								<td>{{ log.calories }}</td>
								<td>{{ log.protein }}</td>
								<td>{{ log.fat }}</td>
								<td>{{ log.carbohydrates }}</td>
								<td>{% if log.cheat_day %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
								<td>{{ log.notes }}</td>
								<td><a href="#" class="editrow_food" data-record="{{ log.id }}"><span class="pull-right glyphicon glyphicon-pencil"></span></a></td>
							</tr>
						{% endfor %}
					</tbody>
		
		
				</table>
			</div>
		
		{% else %}
			<p>No food logs have been entered yet!</p>
		{% endif %}
		
	{% else %}
	
		<p>Hey, you're not logged in!</p>
	
	{% endif %}

</div>

{% endblock %}
