<div class="modal" id="modal_sleep">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Add Data Data</h4>
			</div>
			
			<div class="modal-body">
				
				<ul class="nav nav-pills nav-justified">
					<li class="active"><a href="#form_manual_tab" data-toggle="tab">Manual Entry</a></li>
					<li><a href="#form_csv_tab" data-toggle="tab">CSV Upload</a></li>
				</ul>
				
				<div class="tab-content">
					<div id="form_manual_tab" class="tab-pane fade active in">
						<br>
						<form class="form-horizontal" id="form_manual" action="/sleep/new" method="post">
							<fieldset>
								
								<div class="form-group">
									<label for="inputDate" class="col-lg-2 control-label">Date</label>
									<div class="col-lg-10">
										<input class="form-control" id="inputDate" name="inputDate" placeholder="01/01/2014" type="date">
									</div>
								</div>
								
								<div class="form-group">
									<label for="inputMinutes" class="col-lg-2 control-label">Total Sleep (minutes)</label>
									<div class="col-lg-10">
										<input class="form-control" id="inputMinutes" name="inputMinutes" type="number">
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<button class="btn btn-default">Cancel</button>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					
					<div id="form_csv_tab" class="tab-pane fade">
						<br>
						<form class="form-horizontal" id="form_csv" method="post" action="/sleep/upload" enctype="multipart/form-data">
							<fieldset>
								<div class="form-group">
									<label for="sleepcsv" class="col-lg-2 control-label">CSV File</label>
									<input type=file name="sleepcsv" id="sleepcsv">
								</div>
								
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<button class="btn btn-default">Cancel</button>
										<button type="submit" class="btn btn-primary">Submit</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>
